<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\todolist.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionString2" connectionString="workstation id=todolist.mssql.somee.com;packet size=4096;user id=mmmaher_SQLLogin_1;pwd=lxyyvppkc2;data source=todolist.mssql.somee.com;persist security info=False;initial catalog=todolist"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
          <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
